* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: Arial, Helvetica, sans-serif;
        }

        body {
            background-color: #f4f9ff;
            color: #333;
        }

        header {
            background-color: #0a6ebd;
            color: white;
            padding: 15px 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        header h1 {
            font-size: 24px;
        }

        nav a {
            color: white;
            text-decoration: none;
            margin-left: 20px;
            font-weight: bold;
        }

        nav a:hover {
            text-decoration: underline;
        }

        .hero {
            background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
                        url('https://images.unsplash.com/photo-1586773860418-d37222d8fce3');
            background-size: cover;
            background-position: center;
            color: white;
            text-align: center;
            padding: 100px 20px;
        }
        
        button a{
            color: white;
            text-decoration: none;
            
        }

        .hero h2 {
            font-size: 40px;
            margin-bottom: 10px;
        }

        .hero p {
            font-size: 18px;
            margin-bottom: 20px;
        }

        .hero button {
            padding: 12px 25px;
            font-size: 16px;
            border: none;
            background-color: #0a6ebd;
            color: white;
            cursor: pointer;
            border-radius: 5px;
        }

        .hero button:hover {
            background-color: #084f8c;
        }

        section {
            padding: 50px 30px;
            max-width: 1100px;
            margin: auto;
        }


        section h2 {
            text-align: center;
            margin-bottom: 30px;
            color: #0a6ebd;
        }

        .services {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            gap: 20px;
        }
        .about{
            background-color: white;
            padding: 30px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
            text-align: center;
            font-size: 25px;
            width: 90%;
            margin: auto;

        }
        .about p{
            font-size: 20px;
            line-height: 25px;
        }
        .about img{
            
            float: right;
            height: 290px;
            width: 500px;
            border-radius: 50px;
            box-shadow: 10px rgba(31, 2, 2, 0.793);
        }
        .section-title{
            color:#0a6ebd;
            padding: 10px;
        }
        .card {
            background-color: white;
            padding: 25px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
            text-align: center;
        }

        .card h3 {
            margin-bottom: 10px;
            color: #0a6ebd;
        }

        .doctors {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            gap: 20px;
        }

        .doctor {
            background-color: white;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
            text-align: center;
        }

        .doctor img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            margin-bottom: 10px;
        }

        .contact {
            background-color: #eaf3ff;
            border-radius: 8px;
        }

        .contact p {
            text-align: center;
            margin-bottom: 10px;
        }

        footer {
            background-color: #0a6ebd;
            color: white;
            text-align: center;
            padding: 15px;
            margin-top: 30px;
        }